$primary-color: #22272B;
$secondary-color: #F3EEEA;

$primary-text-color: #596773;
$secondary-text-color: #161A1D;

$text-color-small: #DDE6ED;

.link-text-style {
    color: $primary-text-color;
    font-weight: 500;
    text-decoration: none;
}